.logo {
  padding: 0 1.25rem;
  font-size: 1.75rem;
  border-left: 1px solid #edf1f7;
  white-space: nowrap;
  text-decoration: none;
}


.sidebar-toggle {
  margin-right: 1.25rem;
  text-decoration: none;
  color: #838383
}

.sidebar-toggle nb-icon {
  font-size: 1.75rem;
}
